/* ----------------------------
 Modal Standar
 ----------------------------
 */
.clsModalIsi380 {
    width: 380px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0 none;
    margin-left:10px;
}
.clsModalJudul380 {
    border-bottom: 1px solid #E5E5E5;
    padding: 15px;
    text-align: left !important;
}
.clsModalBody380 p,
.clsModalJudul380 h4 {
    margin: 0;
}
.clsModalBody380 {
    padding: 20px;
}
